.center-title {
    margin-top: 60px;
    text-align: center;
    font-size: 25px;
}
.item-list {
    list-style-type: none;
    margin-top: 100px;
    /* margin-left: 100px; */
    /* margin-left: 300px; */
    /* margin-right: 300px; */
    /* padding: 300px; */
    text-align: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 아이템 내용 좌측 정렬 */
    margin-bottom: 15px;
    border-bottom: 0.1px solid gray;
    padding-bottom: 10px;
    /* border: gray 0.1px solid; */
}
.delete-button {
    margin-left: auto; /* 자동 마진을 이용하여 삭제 버튼 우측으로 이동 */
    cursor: pointer;
    color: red;
    /* margin-right: 100px; */
}
#itemInputContainer {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}
#itemInput {
    background-color: white; /* 배경색을 흰색으로 설정 */
    color: black; /* 텍스트 색상을 검정색으로 설정 */
    border: none; /* 외곽선을 제거 */
    box-shadow: none; /* 그림자를 제거 */
    padding: 0; /* 여백을 제거 */
    width: 80%;
    height: 40px;
    text-align: left;
    border-bottom: 0.1px solid gray;
}

#itemInput:focus {
    outline: none; /* 포커스 시 외곽선 제거 */
}

#addItemButton {
    background-color: #28995C; /* 버튼 배경색을 #28995C로 설정 */
    color: white; /* 버튼 텍스트 색상을 흰색으로 설정 */
    border: none; /* 외곽선을 제거 */
    box-shadow: none; /* 그림자를 제거 */
    padding: 0; /* 여백을 제거 */
    width: 60px;
    height: 40px;
    text-align: center;
    margin-left: auto;
    cursor: pointer; /* 마우스를 올렸을 때 포인터 커서로 변경 */
}

#addItemButton:focus {
    outline: none; /* 포커스 시 외곽선 제거 */
}

.container-main {
    margin-left: 500px;
    margin-right: 500px;
}

ul {
    padding-inline-start: 0px;
}